@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&display=swap');

 @import url('http://fonts.cdnfonts.com/css/barlow');


                

:root{
    --dark-background: #C89F9C;
    --text: black;
    --light-highlight: #EEE2Df, .2;
    --dark-highlight: #C89F9C;
    --light-background:#EEE2DF;
}

h1{
    font-family: 'barlow', sans-serif;
    font-size: 40px;
}
h2{
    color:var(--light-highlight)
}
.container{
    background-color: var(--light-background);
}
html{
    font-family: 'barlow', sans-serif;
    font-size: 16px;
    background-color: var(--dark-background);
    color: var(--text);
}
.header{
    background-color: var(--light-background);
    color: var(--light-highlight);
}
.header__nav-link{
    font-size: 18px;
    color: var(--dark-highlight);
}
.header__nav-link:hover{
    color: var(--light-highlight);
}

a{
    color: var(--dark-highlight); 
}
a:hover{
    color: var(--light-highlight);
}
.topics__nav a{
    background-color: var(--light-highlight);
}
.hashtag h2{
    font-size: 30px;
    padding-bottom: 20px;
}
