<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${topic.name}">Document</title>

    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/layout.css"/>
</head>

<body>
<div class="container">
    <header class="header">
        <h1 class="header__title">Surviving Coding Boot Camp</h1>
        <nav class="header__nav">
            <div class="header__nav-item"><a href="/" class="header__nav-link">Home</a></div>
            <div class="header__nav-item"><a href="/hashtags" class="header__nav-link">Hashtags</a></div>
        </nav>
    </header>
    <main class="main-content">
        <section class="main-content__topic topic">
            <h2 th:text="${topic.name}" class="topic__title main-content__title">
                Topic
            </h2>
            <nav class="main-content__nav posts__nav">
                <div th:each="post: ${topic.posts}">
                    <a th:text="${post.title}" th:href="'/posts/'+${post.id}" href="#"
                       class="posts__nav-link"></a>
                </div>
            </nav>
        </section>
    </main>
    <br>
    <br>

    <div class="new-post-form">
        <h3>To Add a new post to this topic, complete the fields below.</h3>
        <br>
        <br>
        <form th:action="'/topics/' + ${topic.id} + '/addPost'"  method="post">
            <label for="PostTitle">Enter Post Title: &nbsp;</label>
            <input type="text" name="title" id="PostTitle">
            <br>
            <br>
            <label for="authorName">Enter author name: &nbsp;</label>
            <input type="text" name="author" id="authorName">
            <br>
            <br>
            <p><label for="postContent">Type your post here: &nbsp;</label></p>
            <textarea name="content" id="postContent" cols="30" rows="10"></textarea>
            <br>
            <br>
<!--            <label for="postHashtag">Enter a hashtag for your post: &nbsp;</label>-->
<!--            <input type="text" th:field="*{hashtag}" id="postHashtag">-->
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>


</div>
</body>

</html>